---
layout: default
---

<div class="jumbotron">
  <div class="w-100 mw8 ph4-l ph3 pv5-l pv3 center">
    <h1 class="f1 lh-title measure mt3">PITT Initiative on the Computational Social Science</h1>
    <p class="f4 measure lh-copy">
      We are a research group at the
      <a href="https://xx">University of Pittsburgh</a>. Our
      mission is to understand human nature and society at scale.
    </p>
    <p class="f4 measure lh-copy">
      Society generates, and is shaped by, more data than ever before. This creates the opportunity to study human nature and society in new ways. Nearly every field of social science stands to be transformed by data. Example research questions include:
      <ul>
        <li>How does information spread on social media?</li>
        <li>How can we create innovative teams of people?</li>
        <li>How is new technology shaping the economy?</li>
        <.li>How do people organize around political issues?</li>
    </ul>
    </p>
    <h3>
      <a class="cta" href="{{ '/about' | relative_url }}"
        >Learn more about our group</a
      >
    </h3>
  </div>
</div>

<section class="w-100 mw8 ph4-l ph3 center">
  <div class="pv3">
    <h2 class="f2">Research Areas</h2>
    <a class="cta" href="/projects">Learn about ongoing projects</a>

    <p class="f4 measure-wide lh-copy">
      Our group conducts research in Computational Social Science at the intersection of Data Science, Complex Systems, Economics, Sociology, and Political Science.
    </p>

    <div class="flex flex-row-ns flex-wrap pt3">
      <!-- <div class="mr2-ns mv2 w-40-l flex-auto shadow-4 pa3 br2">
        <h3 class="f4 mt0">Visualization</h3>
        <p class="measure lh-copy">
          Visualization leverages human perception to make (potentially large)
          data accessible. We are developing new languages and tools for
          analysis and communication.
        </p>
      </div> -->
      <div class="mr2-ns mv2 w-40-l flex-auto shadow-4 pa3 br2">
        <h3 class="f mt0">Research Area: Economic Complexity</h3>
        <p class="measure lh-copy">
          From international trade to workers' career to team management, economic systems rely on structure.
          Mapping and studying these structures builds on traditional economics by identifying the path-dependence of out-of-equilibrium dynamics.
          For example, relating international exports reveals the growth of national economies, occupations' skill requirements determine cities' <a href="https://www.nature.com/articles/s41467-021-22086-3">economic resilience</a>, and employee interactions determine information spread across a company, innovation, and the workers who are most central to corporate structure.
          Research in this area is enabled by large-scale data and methodologies following a broad spectrum of inspiration, including from physics, ecology, and complex systems.
        </p>
      </div>
      <div class="mr2-ns mv2 w-40-l flex-auto shadow-4 pa3 br2">
        <h3 class="f4 mt0">Research Area 2</h3>
        <p class="measure lh-copy">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at ex fermentum, ullamcorper ipsum eu, pharetra massa. Duis quis tincidunt lectus. Etiam consectetur sagittis arcu, sed mattis ipsum mattis vitae. Nulla a finibus magna, eu congue ante. Integer ex urna, tincidunt ut iaculis eu, facilisis ac lectus. Nulla facilisi. Ut mi magna, condimentum eu elementum tincidunt, pulvinar non ipsum. Duis sodales a velit cursus lobortis.
        </p>
      </div>
    </div>
  </div>


  <div class="mv3 measure-wide">
    <h2 class="f3 mt0">News</h2>
    <ul class="list pl0">
      {% assign sorted_posts = site.posts %} {% for post in sorted_posts
      limit:5 %}
      <li class="pb3">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <time datetime="{{ post.date }}" class="db f6 black-80"
          >{{ post.date | date: "%b %Y" }}</time
        >
      </li>
      {% endfor %}
    </ul>
    <a class="cta" href="/news">Show all</a>
</div>

  <!-- <div class="mv3 measure-wide">
    <h2 class="f3 mt0">Participate</h2>
    <p class="lh-copy">
      Interested in sharing your expertise with us? Check out our ongoing
      research studies with visualization, machine learning, and data science
      practitioners!
    </p>
    <a class="link dim dib cta" href="/studies"> Learn More </a>
  </div> -->

  <div class="pv3">
    <h2 class="f3">Recent Publications</h2>

    <a class="cta" href="/publications">Show all</a>

    <div class="mv3">
      {% assign recent_pubs = site.publications | reverse %} {% for pub in
      recent_pubs limit:5 %}
      <div class="mt4 mt3-ns flex flex-row-ns flex-column">
        <!-- {% assign thumb = 'assets' | append: pub.url | replace: '.html',
        '_thumb.png' %}
        <div
          class="h3 mr3-ns mb2 mb0-ns flex-shrink-0 preview-image ba b--black-05 db"
          style="background-image: url('{{ thumb | relative_url }}')"
        ></div> -->
        <div class="measure-wide">
          <div class="mb1">
            <a href="{{ pub.url }}" class="b link black-80 hover-the-red"
              >{{ pub.title }}</a
            >
            <span class="fw2">
              {% for author in pub.authors %}{% include person name=author %}{%
              unless forloop.last %}, {% endunless %}{% endfor %}</span
            >, <span class="nowrap">{{ pub.venue }} {{ pub.year }}</span>
          </div>
          <a href="{{ pub.url }}" class="cta">Show details</a>
        </div>
      </div>
      {% endfor %}
    </div>

    <a class="cta" href="/publications">Show all</a>
  </div>
</section>
